<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="=utf-8">
	<meta name="description" content="CSCB20 Home Page">
	<meta name="author" content="Jeremy Downey">
	<meta name="author" content="Jitong Zhang">
	<!-- The code on line 9 about Viewport is taken from here: https://www.w3schools.com/html/html_responsive.asp -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>CSCB20 - Introduction to Databases and Web Applications</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
	<header id="main-header">
				<div class="container">
					<h1>CSCB20 - Introduction to Databases and Web Applications</h1>
				</div>
	</header>
	<div class="flex-container">
	<section id="box1">
		
		<h1>Failed to login, wrong username or password. </h1>
		<a href="{{ url_for('login') }}"> Login/Registration</a>
	</section>
	</div>
	<footer id="main-footer">
		<p>Copyright &copy; 2020 Jitong Zhang & Jeremy Downey</p>
		<br><a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science">UofT Faculty of Computer Science</a>
	</footer>
</body>
</html>