{% extends "layout.html" %}
{% block content %}
		<section id="box1">
			<h2>Lecture Schedule</h2>
			<p>Please print and bring these notes/worksheets to class.</p>
			
				<br><br>
				<div class="light_grey_background">
					Week: 1
					Introduction, Databases background
					
					 | Lecture Material: <a href="{{url_for('static', filename='resources/B20Assignment2-1.pdf')}}">Power
					Point</a> <a href="{{url_for('static', filename='resources/B20Assignment2-1.pdf')}}">Power Point Handout</a>
					
				<br><br>
				</div>
				<div class="dark_grey_background">
					Week: 3
					Schema Diagrams, Relational Algebra
					
					 | Lecture Material: <a href="{{url_for('static', filename='resources/B20Assignment2-1.pdf')}}">Power
					Point</a> <a href="{{url_for('static', filename='resources/B20Assignment2-1.pdf')}}">Worksheet</a>
					<a href="{{url_for('static', filename='resources/B20Assignment2-1.pdf')}}">Worksheet Solutions</a>
					
				<br><br>
				</div>
				<div class="light_grey_background">
					Week: 4
					SQL and MySQL
					
					 | Lecture Material: <a href="{{url_for('static', filename='resources/B20Assignment2-1.pdf')}}">Power Point PDF</a> <a href="{{url_for('static', filename='resources/B20Assignment2-1.pdf')}}">Power
					Point Printable PDF</a> <a href="{{url_for('static', filename='resources/B20Assignment2-1.pdf')}}">MySQL Worksheet</a>
					| In Class: <a href="{{url_for('static', filename='resources/B20Assignment2-1.pdf')}}">In Class MySQL</a>
				<br><br>
				</div>
				<div class="dark_grey_background">
					Week: 5
					MySQL Queries, Creating and Editing Tables
					
					 | Lecture Material: <a href="{{url_for('static', filename='resources/B20Assignment2-1.pdf')}}">Power
					Point</a><a href="{{url_for('static', filename='resources/B20Assignment2-1.pdf')}}">Printable Power Point</a>
					<a href="{{url_for('static', filename='resources/B20Assignment2-1.pdf')}}">More MySQL Worksheet <font color='red'>Solutions</font></a>
					| In Class: <a href="{{url_for('static', filename='resources/B20Assignment2-1.pdf')}}">In Class MySQL</a>
				<br><br>
				</div>
				<div class="light_grey_background">
					Week: 6
					MySQL Outer Joins, Views, NULL, string functions, HTML
					
					 | Lecture Material: <a href="{{url_for('static', filename='resources/B20Assignment2-1.pdf')}}">Power
					Point</a> <a href="{{url_for('static', filename='resources/B20Assignment2-1.pdf')}}">HTML Power Point</a>
					<a href="{{url_for('static', filename='resources/B20Assignment2-1.pdf')}}">MySQL Views Worksheet <font color='red'>Solutions</font></a>
					
				<br><br>
				</div>
				<div class="dark_grey_background">
					Week: 7
					HTML, CSS
					
					 | Lecture Material: <a href="{{url_for('static', filename='resources/B20Assignment2-1.pdf')}}">CSS Power Point</a>
					
				<br><br>
				</div>
				<div class="light_grey_background">
					Week: 8
					PHP
					
					 | Lecture Material: <a href="{{url_for('static', filename='resources/B20Assignment2-1.pdf')}}">Power Point</a>
					
				<br><br>
				</div>
				<div class="dark_grey_background">
					Week: 9
					PHP and SQL
					
					 | Lecture Material: <a href="{{url_for('static', filename='resources/B20Assignment2-1.pdf')}}">Power Point</a>
					| In Class: Empty starter file: <a href="{{url_for('static', filename='resources/B20Assignment2-1.pdf')}}">query.php</a> To look at the txt for this file, download this
					<a href="{{url_for('static', filename='resources/B20Assignment2-1.pdf')}}">php_query.txt</a>
				<br><br>
				</div>
				<div class="light_grey_background">
					Week: 10
					JavaScript and jQuery
					
					<!--<a href="img/B20Assignment2-1.pdf">JavaScript Power Point</a>-->
					 | Lecture Material: <a href="{{url_for('static', filename='resources/B20Assignment2-1.pdf')}}">jQuery Power Point</a>
				<br><br>
				</div>
				 <div class="dark_grey_background">
				 	Week: 11
				 	 jQuery, AJAX, JSON
					
					 | Lecture Material: <a href="{{url_for('static', filename='resources/B20Assignment2-1.pdf')}}">Power Point</a>
					<a href="{{url_for('static', filename='resources/B20Assignment2-1.pdf')}}">printable Power Point</a> <!--AJAX, JSON examples are <a href="http://mathlab.utsc.utoronto.ca/courses/cscb20w16/bretsche/ajax/">here</a> -->
				<br><br>
				</div>
				<div class="light_grey_background">
				 	Week: 12
				 	 Last Year's final
					
					 | Lecture Material: <a href="{{url_for('static', filename='resources/B20Assignment2-1.pdf')}}">W16 Final</a>Note that some questions have code missing because portions resemble your A3
				<br><br>
				</div>
		</section>	
{% endblock %}