{% extends "layout.html" %}
{% block content %}
		<section id="box1">
			<h2>Overview</h2>
				<p>Here are the assignment and exercise topics, weights, and due dates. I will be posting the exercise and assignment handouts here.  All exercises and assignments will be submitted on <a href="http://markus.utsc.utoronto.ca/cscb20w17/en">MarkUs</a>.</p>
			<h2>Assignments</h2>
			<div class="light_grey_background">
				<h3>Assignment 1</h3>
				
				Topic: Relational Algebra and MySQL 
				<br> Weight: 15%
				<br> Assignment Materials: <a href="{{url_for('static', filename='resources/B20Assignment2-1.pdf')}}">Handout</a>
				<br> Due Date: Wednesday Feb. 1, 11.59pm
			</div>
			<div class="dark_grey_background">
				<h3>Assignment 2</h3>
				
				Topic: HTML, CSS, PHP
				<br> Weight: 15%
				<br> Assignment Materials: <a href="{{url_for('static', filename='resources/B20Assignment2-1.pdf')}}">Handout</a>, <a href="{{url_for('static', filename='resources/B20Assignment2-1.pdf')}}">a2.zip</a>
				<br> Due Date: Part 1: Worth 50% Friday March. 10, 11.59pm. Part 2: Worth 50% Friday March. 19, 11.59pm.
			</div>
			<div class="light_grey_background">
				<h3>Assignment 3</h3>
				
				Topic: Web Application and Database
				<br> Weight: 15%
				<br> Assignment Materials: <a href="{{url_for('static', filename='resources/B20Assignment2-1.pdf')}}">Handout</a>, <a href="{{url_for('static', filename='resources/B20Assignment2-1.pdf')}}">Marking Scheme for A3 </a>
				<br> Due Date: Friday March 31, 11.59pm	
			</div			
				<br><br><br>
			<div class="dark_grey_background">
				<h2>FAQ - Assignment 1</h2>
				<p>Q. If the mysql portion asks for a director or actor without specifying which attributes, what should I return?<br>A. Return the first name, last name. </p>
			</div>
		</section>	
{% endblock %}