{% extends "layout.html" %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='course_team.css') }}">
{% endblock %}
{% block content %}
	<div style="text-align: center;"><h2>Course Team</h2></div>
		<div class="flex-container-course-team">
			<div class="flex-box-course-team" id='0'> <!-- want to put each ta/intructor's info into a flex box -->
				<div style="text-align: center;">
					
						
							Name:
							Dr. Anna Bretscher
						<br>
						
							Email: 
							<a href="mailto:bretscher@utsc.utoronto.ca">bretscher@utsc.utoronto.ca</a>
						<br>
						
							Office Hours: 
							Wed 11am-12pm @ IC 493
						<br>
					
				</div>
			</div>
			<div class="flex-box-course-team" id='1'>	
				<div style="text-align: center;">
					
						
							Name:
							ta-1
						<br>
						
							Email:
							<a href="#">ta-1@utoronto.ca</a>
						<br>
						 
							Office Hours:
							Tue, 1pm – 2pm @ IC 402 
						<br>
					
				</div>
			</div>
			<div class="flex-box-course-team" id='2'>	
				<div style="text-align: center;">
					
							
								Name:
								ta-2
							<br>
							
								Email:
								<a href="#">ta-2@utoronto.ca</a>
							<br>
							 
								Office Hours:
								Mon, 2pm – 3pm @ IC 101 
							<br>
					
				</div>
			</div>
			<div class="flex-box-course-team" id='3'>	
				<div style="text-align: center;">
					
							
								Name:
								ta-3
							<br>
							
								Email:
								<a href="#">ta-3@utoronto.ca</a>
							<br>
							 
								Office Hours:
								Tue, 3pm – 4pm @ IC 100 
							<br>
					
				</div>
			</div>
			<div class="flex-box-course-team" id='4'>	
				<div style="text-align: center;">
					
							
								Name:
								ta-4
							<br>
							
								Email:
								<a href="#">ta-4@utoronto.ca</a>
							<br>
							 
								Office Hours:
								Wed, 4pm – 5pm @ IC 101 
							<br>	
					
				</div>
			</div>
			<div class="flex-box-course-team" id='5'>	
				<div style="text-align: center;">
					
							
								Name:
								ta-5
							<br>
							
								Email:
								 <a href="#">ta-5@utoronto.ca</a>
							<br>
							 
								Office Hours:
								Thu, 5pm – 6pm @ IC 110 
							<br>
					
				</div>
			</div>
		</div>
	</div>
{% endblock %}