{% extends "layout.html" %}
{% block content %}
		<section id="box1">
			<h2>Tutorial Sections</h2>
    			<p>Please go the tutorial section that you signed up for on ROSI.</p>
	        <h2>Tutorial Exercises</h2>
			    <p>This section contains the tutorial exercises.<br> Tutorials are held every week. The first tutorial week is week 2. Please make use of this valuable resource!</p>
				<br><br>
		        <div class="light_grey_background">
		           Week: 2 | 
		             Lab: <a href="{{url_for('static', filename='resources/B20Assignment2-1.pdf')}}">Python, Command line</a>
		         <br><br>
				 </div>
				<div class="dark_grey_background">
					Week: 3 | 
					 Lab: <a href="{{url_for('static', filename='resources/B20Assignment2-1.pdf')}}">Handout</a>
				<br><br>
				</div>
				<div class="light_grey_background">
					Week: 4 | 
					 Lab: <a href="{{url_for('static', filename='resources/B20Assignment2-1.pdf')}}">Handout</a> <a href="{{url_for('static', filename='resources/B20Assignment2-1.pdf')}}">university.sql</a>
					  | Solutions: <a href="{{url_for('static', filename='resources/B20Assignment2-1.pdf')}}">query_solns</a>
				<br><br>
				</div>
				<div class="dark_grey_background">
					Week: 5 | 
					 Lab: <a href="{{url_for('static', filename='resources/B20Assignment2-1.pdf')}}">Handout</a>
					  | Solutions: <a href="{{url_for('static', filename='resources/B20Assignment2-1.pdf')}}">Solns</a>
				<br><br>
				</div>
				<div class="light_grey_background">
					Week: 6 | 
					 Lab: <a href="{{url_for('static', filename='resources/B20Assignment2-1.pdf')}}">Handout</a>
					  | Solutions: <a href="{{url_for('static', filename='resources/B20Assignment2-1.pdf')}}">Solns</a>
				<br><br>
				</div>
				<div class="dark_grey_background">
					Week: 7 | 
					 Lab: <a href="{{url_for('static', filename='resources/B20Assignment2-1.pdf')}}">Handout</a>
				<br><br>
				</div>
				<div class="light_grey_background">
					Week: 8 | 
					 Lab: <a href="{{url_for('static', filename='resources/B20Assignment2-1.pdf')}}">Handout</a>
				<br>  <br>   
				</div>
				 <div class="dark_grey_background">
					Week: 9 | 
					 Lab: <a href="{{url_for('static', filename='resources/B20Assignment2-1.pdf')}}">Handout</a>
				<br><br>
				</div>
				 <div class="light_grey_background">
					Week: 10 | 	
					 Lab: <a href="{{url_for('static', filename='resources/B20Assignment2-1.pdf')}}">W3 tutorial</a> Work through the tutorial for jQuery up until jQuery Remove.
				
				<br><br>
				</div>
		</section>	
{% endblock %}