
@media(min-width: 1000px)
{
	.container {
		
		display: flex;
		
	}
}

.box {
	
	background-color: firebrick;
	
}

.box123 {
	
	background-color: lightblue;
	
}

#divbox1{
	
	order:1;
	border:10px #ccc solid;
}


#divbox2{
	
	order:3;
	border:10px #ccc solid;
}


#divbox3{
	
	order:2;
	border:10px #ccc solid;
}